<div class="custom-container-lg mx-auto d-flex flex-column mb-5">
    <div class="mt-5">
        <h4 aria-label="breadcrumb ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark "><a class="a" href="/">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">ข้อมูลสินค้าทั้งหมด</li>
    
          </ol>
        </h4>
      </div>
    <div class="card mt-3 mb-5">
        <div class="d-flex justify-content-between align-items-center mb-1 col-12">
            <h1 class="text-cyan">Product Management</h1>
            <div>
                <a href="/categories" class="btn bg-info text-light">Categories</a>
                <a href="/products/new" class="btn bg-teal text-light">Add New Product</a>
            </div>
        </div>
        <table class="table table-bordered text-center mb-5">
            <tr class="bg-dark text-center table-hover">
                <th class="col-1">Code</th>
                <th class="col-3">Name</th>
                <th class="col-2">Category</th>
                <th class="col-1">Price</th>
                <th class="col-1">Stock</th>
                <th class="col-1">View</th>

                <th class="col-4">Actions</th>
            </tr>
            <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                    <tr class='text-center'>
                        <td><%= product.code %></td>
                        <td><%= product.name %></td>
                        <td><%= product.category ? product.category.name : 'ไม่มีหมวดหมู่' %></td>
                        <td><%= product.price %></td>
                        <td><%= product.stock %></td>
                        <td><%= product.realViews || 0 %></td>
                        <td>
                            <a href="/products/details/<%= product.id %>" class="btn bg-info text-light">Details</a> | 
                            <a href="/products/edit/<%= product.id %>" class="btn bg-warning text-light">Edit</a> | 
                            <form action="/products/delete/<%= product.id %>" method="POST" style="display:inline;">
                                <button type="submit" class="btn bg-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="7" class="text-center">ไม่มีสินค้าในระบบ</td>
                </tr>
            <% } %>
        </table>
    </div>
</div>